@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: black;
}

.profile-img {
  border-radius: 50%;
  width: 30px;
}

.sign-out-btn {
  margin: 10px;
}

.profile-img {
  width: 200px;
  align-self: center;
}
