@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: black;
}

.profile-img {
  border-radius: 50%;
}

.sign-out-btn {
  margin: 10px;
}

.profile-img {
  width: 100px;
}

.user-icon {
  border-radius: 50%;
  width: 45px;
}

.card {
  display: flex;
  align-items: center;
  margin: 10px;
}
